<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="false"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.NorthPlus">

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|keyboardHidden|uiMode"
            android:exported="true"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- 让浏览器 / 其他 App 的 north-plus.net 链接可以直接用本应用打开 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="north-plus.net" />
                <data android:scheme="http" android:host="north-plus.net" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ThreadActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|keyboardHidden|uiMode"
            android:exported="false"
            android:launchMode="standard"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ImageViewerActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|keyboardHidden"
            android:exported="false"
            android:theme="@style/Theme.NorthPlus.Viewer" />

        <activity
            android:name=".InstallBrowserActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|keyboardHidden|uiMode"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".SitesActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|uiMode"
            android:exported="false" />

        <activity
            android:name=".UserscriptsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|uiMode"
            android:exported="false" />

        <activity
            android:name=".SettingsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|uiMode"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>
